[Unit]
Description=IPFS daemon
After=network.target

[Service]
User=<username>
Group=<username>
ExecStart=/usr/local/bin/ipfs ipfs daemon --init --enable-namesys-pubsub

[Install]
WantedBy=multi-user.target
